<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Fitness Level Prediction</title>
	<link rel="stylesheet" href="../static/CSS/style.css">
	<script type='text/javascript' src="../static/JS/script.js"></script>
</head>

<body>
	<h1 class="header">Fitness Level Prediction</h1>

	<form id="myform" method="POST", action="{{url_for('index')}}">
		<div class="card-body">
			<div class="question">
				<p>Gender<span class="required">*</span></p>
			</div>
			<div class="answer">
				<input type="radio" id="male" name="gender" required value="1">
				<label class="label" for="male">Male</label><br>
			</div>
			<div class="answer">
				<input type="radio" id="female" name="gender" required value="0">
				<label class="label" for="female">Female</label><br>
			</div>
		</div>
		
		<div class="card-body">
			<div class="question">
				<p>Age<span class="required">*</span></p>
			</div>
			<div class="answer">
				<input type="radio" id="15_18" name="age" required value="1">
				<label class="label" for="15_18">15 to 18</label><br>
			</div>
			<div class="answer">
				<input type="radio" id="19_25" name="age" required value="2">
				<label class="label" for="19_25">19 to 25</label><br>
			</div>
			<div class="answer">
				<input type="radio" id="26_30" name="age" required value="3">
				<label class="label" for="26_30">26 to 30</label><br>
			</div>
			<div class="answer">
				<input type="radio" id="30_40" name="age" required value="4">
				<label class="label" for="30_40">30 to 40</label><br>
			</div>
			<div class="answer">
				<input type="radio" id="40_above" name="age" required value="5">
				<label class="label" for="40_above">40 and above</label><br>
			</div>
		</div>
		
		<div class="card-body">
			<div class="question">
				<p>How important is exercise to you?<span class="required">*</span></p>
			</div>
			<div class="answer">
				<table style="width:100%">
					<tr>
						<td></td>
						<td><label class="radio-inline" for="exercise_1">1</label></td>
						<td><label class="radio-inline" for="exercise_2">2</label></td>
						<td><label class="radio-inline" for="exercise_3">3</label></td>
						<td><label class="radio-inline" for="exercise_4">4</label></td>
						<td><label class="radio-inline" for="exercise_5">5</label></td>
						<td></td>
					 </tr>
					 <tr>
						<td>Not at All Important</td>
						<td><input type="radio" id="exercise_1" name="exercise_importance" required value="1"></td>
						<td><input type="radio" id="exercise_2" name="exercise_importance" required value="2"></td>
						<td><input type="radio" id="exercise_3" name="exercise_importance" required value="3"></td>
						<td><input type="radio" id="exercise_4" name="exercise_importance" required value="4"></td>
						<td><input type="radio" id="exercise_5"name="exercise_importance" required value="5"></td>
						<td>Very Important</td>
					 </tr>
				</table>
			</div>
		</div>
		
		<div class="card-body">
			<div class="question">
				<p>How often do you exercise?<span class="required">*</span></p>
			</div>
			<div class="answer">
				<input type="radio" id="never" name="regularity" required value="1">
				<label class="label" for="never">Never</label><br>
			</div>
			<div class="answer">
				<input type="radio" id="1_2" name="regularity" required value="2">
				<label class="label" for="1_2">1 to 2 times a week</label><br>
			</div>
			<div class="answer">
				<input type="radio" id="3_4" name="regularity" required value="3">
				<label class="label" for="3_4">3 to 4 times a week</label><br>
			</div>
			<div class="answer">
				<input type="radio" id="5_6" name="regularity" required value="4">
				<label class="label" for="5_6">5 to 6 times a week</label><br>
			</div>
			<div class="answer">
				<input type="radio" id="everyday" name="regularity" required value="5">
				<label class="label" for="everyday">Everyday</label><br>
			</div>
		</div>
		
		<div class="card-body">
			<div class="question">
				<p>What barriers, if any, prevent you from exercising more regularly? (Please select all that apply)<span class="required">*</span></p>
			</div>
			<div class="answer">
				<input type="checkbox" id="b_1" name="b_1" class="barriers" value="1">
				<label class="label" for="b_1">I don't have enough time</label>
				<input type="hidden" name="b_1" value="0"/><br>
			</div>
			<div class="answer">
				<input type="checkbox" id="b_2" name="b_2" class="barriers" value="1">
				<label class="label" for="b_2">I can't stay motivated</label>
				<input type="hidden" name="b_2" value="0"/><br>
			</div>
			<div class="answer">
				<input type="checkbox" id="b_3" name="b_3" class="barriers" value="1">
				<label class="label" for="b_3">I'll become too tired</label>
				<input type="hidden" name="b_3" value="0"/><br>
			</div>
			<div class="answer">
				<input type="checkbox" id="b_4" name="b_4" class="barriers" value="1">
				<label class="label" for="b_4">I have an injury</label>
				<input type="hidden" name="b_4" value="0"/><br>
			</div>
			<div class="answer">
				<input type="checkbox" id="b_5" name="b_5" class="barriers" value="1">
				<label class="label" for="b_5">I don't really enjoy exercising</label>
				<input type="hidden" name="b_5" value="0"/><br>
			</div>
			<div class="answer">
				<input type="checkbox" id="b_6" name="b_6" class="barriers" value="1">
				<label class="label" for="b_6">I exercise regularly with no barriers</label>
				<input type="hidden" name="b_6" value="0"/><br>
			</div>
			<div class="answer">
				<input type="checkbox" id="b_other" name="b_other" class="barriers" value="1">
				<label class="label" for="b_other">Other</label>
				<input type="hidden" name="b_other" value="0"/><br>
			</div>
		</div>
		
		<div class="card-body">
			<div class="question">
				<p>What form(s) of exercise do you currently participate in? (Please select all that apply)<span class="required">*</span></p>
			</div>
			<div class="answer">
				<input type="checkbox" id="e_1" name="e_1" class="exercise" value="1">
				<label class="label" for="e_1">Walking or jogging</label>
				<input type="hidden" name="e_1" value="0"/><br>
			</div>
			<div class="answer">
				<input type="checkbox" id="e_2" name="e_2" class="exercise" value="1">
				<label class="label" for="e_2">Gym</label>
				<input type="hidden" name="e_2" value="0"/><br>
			</div>
			<div class="answer">
				<input type="checkbox" id="e_3" name="e_3" class="exercise" value="1">
				<label class="label" for="e_3">Swimming</label>
				<input type="hidden" name="e_3" value="0"/><br>
			</div>
			<div class="answer">
				<input type="checkbox" id="e_4" name="e_4" class="exercise" value="1">
				<label class="label" for="e_4">Yoga</label>
				<input type="hidden" name="e_4" value="0"/><br>
			</div>
			<div class="answer">
				<input type="checkbox" id="e_5" name="e_5" class="exercise" value="1">
				<label class="label" for="e_5">Zumba dance</label>
				<input type="hidden" name="e_5" value="0"/><br>
			</div>
			<div class="answer">
				<input type="checkbox" id="e_6" name="e_6" class="exercise" value="1">
				<label class="label" for="e_6">Lifting weights</label>
				<input type="hidden" name="e_6" value="0"/><br>
			</div>
			<div class="answer">
				<input type="checkbox" id="e_7" name="e_7" class="exercise" value="1">
				<label class="label" for="e_7">Team sport</label>
				<input type="hidden" name="e_7" value="0"/><br>
			</div>
			<div class="answer">
				<input type="checkbox" id="e_8" name="e_8" class="exercise" value="1">
				<label class="label" for="e_8">I don't really exercise</label>
				<input type="hidden" name="e_8" value="0"/><br>
			</div>
			<div class="answer">
				<input type="checkbox" id="e_other" name="e_other" class="exercise" value="1">
				<label class="label" for="e_other">Other</label>
				<input type="hidden" name="e_other" value="0"/><br>
			</div>
		</div>
		
		<div class="card-body">
			<div class="question">
				<p>Do you exercise ___________ ?<span class="required">*</span></p>
			</div>
			<div class="answer">
				<input type="radio" id="alone" name="do_you" required value="1">
				<label class="label" for="alone">Alone</label><br>
			</div>
			<div class="answer">
				<input type="radio" id="with_friend" name="do_you" required value="2">
				<label class="label" for="with_friend">With a friend</label><br>
			</div>
			<div class="answer">
				<input type="radio" id="with_group" name="do_you" required value="3">
				<label class="label" for="with_group">With a group</label><br>
			</div>
			<div class="answer">
				<input type="radio" id="class_environment" name="do_you" required value="4">
				<label class="label" for="class_environment">Within a class environment</label><br>
			</div>
			<div class="answer">
				<input type="radio" id="dont_exercise" name="do_you" required value="5">
				<label class="label" for="dont_exercise">I don't really exercise</label><br>
			</div>
		</div>
		
		<div class="card-body">
			<div class="question">
				<p>What time of the day do you prefer to exercise?<span class="required">*</span></p>
			</div>
			<div class="answer">
				<input type="radio" id="morning" name="time" required value="1">
				<label class="label" for="morning">Early morning</label><br>
			</div>
			<div class="answer">
				<input type="radio" id="afternoon" name="time" required value="2">
				<label class="label" for="afternoon">Afternoon</label><br>
			</div>
			<div class="answer">
				<input type="radio" id="evening" name="time" required value="3">
				<label class="label" for="evening">Evening</label><br>
			</div>
		</div>
		
		<div class="card-body">
			<div class="question">
				<p>How long do you spend exercising per day?<span class="required">*</span></p>
			</div>
			<div class="answer">
				<input type="radio" id="30_minutes" name="time_spent" required value="1">
				<label class="label" for="30_minutes">30 minutes</label><br>
			</div>
			<div class="answer">
				<input type="radio" id="1_hour" name="time_spent" required value="2">
				<label class="label" for="1_hour">1 hour</label><br>
			</div>
			<div class="answer">
				<input type="radio" id="2_hours" name="time_spent" required value="3">
				<label class="label" for="2_hours">2 hours</label><br>
			</div>
			<div class="answer">
				<input type="radio" id="3_above" name="time_spent" required value="4">
				<label class="label" for="3_above">3 hours and above</label><br>
			</div>
			<div class="answer">
				<input type="radio" id="do_not_exercise" name="time_spent" required value="5">
				<label class="label" for="do_not_exercise">I don't really exercise</label><br>
			</div>
		</div>
		
		<div class="card-body">
			<div class="question">
				<p>Would you say you eat a healthy balanced diet?<span class="required">*</span></p>
			</div>
			<div class="answer">
				<input type="radio" id="yes" name="balanced_diet" required value="1">
				<label class="label" for="yes">Yes</label><br>
			</div>
			<div class="answer">
				<input type="radio" id="no" name="balanced_diet" required value="2">
				<label class="label" for="no">No</label><br>
			</div>
			<div class="answer">
				<input type="radio" id="not_always" name="balanced_diet" required value="3">
				<label class="label" for="not_always">Not always</label><br>
			</div>
		</div>
		
		<div class="card-body">
			<div class="question">
				<p>What prevents you from eating a healthy balanced diet, if any? (Please select all that apply)<span class="required">*</span></p>
			</div>
			<div class="answer">
				<input type="checkbox" id="pb_1" name="pb_1" class="prevents" value="1">
				<label class="label" for="pb_1">Lack of time</label>
				<input type="hidden" name="pb_1" value="0"/><br>
			</div>
			<div class="answer">
				<input type="checkbox" id="pb_2" name="pb_2" class="prevents" value="1">
				<label class="label" for="pb_2">Cost</label>
				<input type="hidden" name="pb_2" value="0"/><br>
			</div>
			<div class="answer">
				<input type="checkbox" id="pb_3" name="pb_3" class="prevents" value="1">
				<label class="label" for="pb_3">Ease of access to fast food</label>
				<input type="hidden" name="pb_3" value="0"/><br>
			</div>
			<div class="answer">
				<input type="checkbox" id="pb_4" name="pb_4" class="prevents" value="1">
				<label class="label" for="pb_4">Temptation and cravings</label>
				<input type="hidden" name="pb_4" value="0"/><br>
			</div>
			<div class="answer">
				<input type="checkbox" id="pb_5" name="pb_5" class="prevents" value="1">
				<label class="label" for="pb_5">I have a balanced diet</label>
				<input type="hidden" name="pb_5" value="0"/><br>
			</div>
			<div class="answer">
				<input type="checkbox" id="pb_other" name="pb_other" class="prevents" value="1">
				<label class="label" for="pb_other">Other</label>
				<input type="hidden" name="pb_other" value="0"/><br>
			</div>
		</div>
		
		<div class="card-body">
			<div class="question">
				<p>How healthy do you consider yourself on a scale of 1 to 5?<span class="required">*</span></p>
			</div>
			<div class="answer">
				<table style="width:100%">
					<tr>
						<td></td>
						<td><label class="radio-inline" for="health_1">1</label></td>
						<td><label class="radio-inline" for="health_2">2</label></td>
						<td><label class="radio-inline" for="health_3">3</label></td>
						<td><label class="radio-inline" for="health_4">4</label></td>
						<td><label class="radio-inline" for="health_5">5</label></td>
						<td></td>
					 </tr>
					 <tr>
						<td>Unhealthy</td>
						<td><input type="radio" id="health_1" name="health_level" required value="1"></td>
						<td><input type="radio" id="health_2" name="health_level" required value="2"></td>
						<td><input type="radio" id="health_3" name="health_level" required value="3"></td>
						<td><input type="radio" id="health_4" name="health_level" required value="4"></td>
						<td><input type="radio" id="health_5" name="health_level" required value="5"></td>
						<td>Healthy</td>
					 </tr>
				</table>
			</div>
		</div>
		
		<div class="card-body">
			<div class="question">
				<p>Have you ever recommended your friends to follow a fitness routine?<span class="required">*</span></p>
			</div>
			<div class="answer">
				<input type="radio" id="recommend_yes" name="recommend_fitness" required value="1">
				<label class="label" for="recommend_yes">Yes</label><br>
			</div>
			<div class="answer">
				<input type="radio" id="recommend_no" name="recommend_fitness" required value="0">
				<label class="label" for="recommend_no">No</label><br>
			</div>
		</div>
		
		<div class="card-body">
			<div class="question">
				<p>Have you ever purchased a fitness equipment?<span class="required">*</span></p>
			</div>
			<div class="answer">
				<input type="radio" id="equipment_yes" name="equipment" required value="1">
				<label class="label" for="equipment_yes">Yes</label><br>
			</div>
			<div class="answer">
				<input type="radio" id="equipment_no" name="equipment" required value="0">
				<label class="label" for="equipment_no">No</label><br>
			</div>
		</div>
		
		<div class="card-body">
			<div class="question">
				<p>What motivates you to exercise? (Please select all that apply)<span class="required">*</span></p>
			</div>
			<div class="answer">
				<input type="checkbox" id="m_1" name="m_1" class="motivation" value="1">
				<label class="label" for="m_1">I want to be fit</label>
				<input type="hidden" name="m_1" value="0"/><br>
			</div>
			<div class="answer">
				<input type="checkbox" id="m_2" name="m_2" class="motivation" value="1">
				<label class="label" for="m_2">I want to increase muscle mass and strength</label>
				<input type="hidden" name="m_2" value="0"/><br>
			</div>
			<div class="answer">
				<input type="checkbox" id="m_3" name="m_3" class="motivation" value="1">
				<label class="label" for="m_3">I want to lose weight</label>
				<input type="hidden" name="m_3" value="0"/><br>
			</div>
			<div class="answer">
				<input type="checkbox" id="m_4" name="m_4" class="motivation" value="1">
				<label class="label" for="m_4">I want to be flexible</label>
				<input type="hidden" name="m_4" value="0"/><br>
			</div>
			<div class="answer">
				<input type="checkbox" id="m_5" name="m_5" class="motivation" value="1">
				<label class="label" for="m_5">I want to relieve stress</label>
				<input type="hidden" name="m_5" value="0"/><br>
			</div>
			<div class="answer">
				<input type="checkbox" id="m_6" name="m_6" class="motivation" value="1">
				<label class="label" for="m_6">I want to achieve a sporting goal</label>
				<input type="hidden" name="m_6" value="0"/><br>
			</div>
			<div class="answer">
				<input type="checkbox" id="m_7" name="m_7" class="motivation" value="1">
				<label class="label" for="m_7">I am not really interested in exercising</label>
				<input type="hidden" name="m_7" value="0"/><br>
			</div>
			<div class="answer">
				<input type="checkbox" id="m_other" name="m_other" class="motivation" value="1">
				<label class="label" for="m_other">Other</label>
				<input type="hidden" name="m_other" value="0"/><br>
			</div>
		</div>
		
		<br>
		
		<div class="button-card">
			<input type="submit" onclick="submitFunction()" class="submit-button" value='Submit'><input type="reset" onclick="clearFunction()" class="clear-button" value="Clear form">
		</div>
	</form>
</body>
</html>